@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

*{
    box-sizing: border-box;
}

:root{
    --light-gray:#848EAD;
}

body{
    width: 100%;
    min-height: 100vh;
    font-family: 'Manrope', sans-serif;
    background-image:url(./images/pattern-circles.svg),url(./images/bg-pattern.svg);
    background-repeat: no-repeat;
    background-position: 50% 50px,0 0;
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: center;
    padding: 88px 24px;
}

/* for all p elements */
p{
    font-family: Manrope;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
    color: #848EAD;
}

header{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

header h2{
    font-size: 20px;
    font-weight: 800;
    line-height: 27px;
    color: #293356;
}

header h6{
    font-size: 13px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    width: 180px;
    color: #848EAD;
}

.main-container{
    padding: 33px 0px;
    background-color: white;
    width: 327px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 36px;
    align-items: center;
    box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.152073);
    border-radius: 8px;
}

.price-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.price-per-month{
    display: flex;
    align-items: center;
    gap: 10px;
    order: 3;
}

.price-container h3{
    font-size: 32px;
    font-weight: 800;
    line-height: 44px;
    letter-spacing: -0.8px;
    color: #293356;
}

.viwes{
    text-transform: uppercase;
    letter-spacing: 1.7px;
    font-weight: 800;
    order: 1;;
}

#price-range{
    background-color: #ECF0FB;
    order: 2;
    appearance: none;
    outline: none;
    width: 280px;
    height: 8px;
    border-radius: 5px;
    background: linear-gradient(90deg, #A4F3EB 50.00%,#ECF0FB 25.00%);
}

#price-range[type='range']::-webkit-slider-thumb {
    appearance: none;
    width: 40px;
    height: 40px;
    background-color: #10D8C4;
    border-radius: 50%;
    background-image: url(./images/icon-slider.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    box-shadow: 0px 15px 30px rgba(0, 255, 231, 0.6);
}

#price-range::-webkit-slider-thumb:hover{
   background-color: #7AEADF;
}

#price-range::-webkit-slider-thumb:active{
    background: #24AEA1;
    background-image: url(./images/icon-slider.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.biling-container{
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
}

.switch-box {
     position: relative;
     display: inline-block;
     width: 43px;
     height: 22px;
}

.switch {
     opacity: 0;
     width: 0;
     height: 0;
}

.slider {
     position: absolute;
     cursor: pointer;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #ccc;
     -webkit-transition: .4s;
     transition: .4s;
}

.slider:before {
     position: absolute;
     content: "";
     height: 16px;
     width: 16px;
     left: 7px;
     bottom: 3px;
     background-color: white;
     -webkit-transition: .4s;
     transition: .4s;
}

.switch:checked+.slider {
     background-color: #7AEADF;
}

.switch:focus+.slider {
     box-shadow: 0 0 1px #7AEADF;
}

.switch:checked+.slider:before {
     -webkit-transform: translateX(14px);
     -ms-transform: translateX(14px);
     transform: translateX(14px);
}

.slider.round {
    border-radius: 36px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.discount{
    font-family: 'Manrope', sans-serif;
    width: 41px;
    height: 19px;
    border-radius: 9.5px;
    background: #FEEDE8;
    font-size: 10px;
    line-height: 13.5px;
    text-align: center;
    margin-left: -7px;
    display: flex;
    align-items: center;
    justify-content: center;
}   

.hidden{
    display: none;
}

hr{
    width: 100%;
    height: 1px;
    background-color: #ECF0FB;
    border: 0;
    margin: 6px 0 0 0 ;
}

/* footer and benefits */

footer{
    display: flex;
    flex-direction: column;
    gap: 33px;
}

.benefits{
    width: 165px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
}

.benefits-type{
    display: flex;
    align-items: center;
    gap: 16px;
}

/* las element Button */
button{
    border: none;
    text-align: center;
    background: #293356;
    width: 170px;
    height: 41px;
    border-radius: 20.5px;
    font-size: 12px;
    font-weight: 800;
    line-height: 16px;
    color: var(--light-gray);
    cursor: pointer;
}

@media screen and (min-width:1024px) {

    body{
        padding: 104px 0 137px 0;
    }

    
    .title{
        font-size: 28px;
        line-height: 38.25px;
    }

    .description{
        font-size: 15px;
        line-height: 20.5px;
        width: 391px;
    }

    .main-container{
        width: 540px;
        padding: 58px 48px 33px;
    }

    .price-container{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0;
        justify-content: space-between;
    }

    .viwes{
        margin-bottom: 42px;
    }

    .price-per-month{
        order: 2;
        margin-bottom: 42px;
    }

    #price-range{
        order: 3;
        width: 100%;
    }

    .biling-container{
        margin-left: 106px;
    }

    .discount{
        width: 85px;
        gap: 2px;
    }

    .hidden{
        display: block;
        font-size: 10px;
        line-height: 13.5px;
        font-family: 'Manrope', sans-serif;
    }

    footer{
        flex-direction: row;
        gap: 133px;
        align-items: center;
    }
}