@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Manrope', sans-serif;
    background-image: url(./images/bg-pattern.svg);
    background-repeat: no-repeat;
}